.aspect {
	display: grid;
	> *,
	&::before {
		grid-area: 1/1;
	}
	&::before {
		line-height: 0;
	}
	&.aspect-1\/1,
	&.aspect-square {
		&::before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E");
		}
	}
}
